{% extends 'layout/base.html.twig' %}

{% block title %}
    {{ program.title }} |  Saison {{ season.number }}
{% endblock %}

{%  block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"> {{ program.title }} </h1>
            <h1> Saison {{ season.number }} </h1>
            <div class>
                Date de diffusion: {{ season.year }} <br>
                {{ season.description }}
            </div>
            <div><br>
                Episode {{ episode.number }}: {{ episode.title }} <br>
                {{ episode.synopsis }}

                {% if app.user %}
                    {{ include('comment/_form.html.twig') }}
                {% endif %}

                {% for comment in comments %}
                    <div>
                        <div>Commentaire  : {{ comment.comment }} </div>
                        <div>Note {{ comment.rate }}/10 </div>
                        <div>Par {{ comment.author.username }} </div>
                    </div>
                {% else %}
                    <div>
                        Pas de commentaire
                    </div>
                {% endfor %}

                <div class="retour">
                    <a href="{{ path('program_index') }}">
                        Retour à la liste des programmes
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
